@font-face {
  font-family: "iconfont"; /* Project id 3606715 */
  src: url('iconfont.woff2?t=1661308297850') format('woff2'),
       url('iconfont.woff?t=1661308297850') format('woff'),
       url('iconfont.ttf?t=1661308297850') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-goods:before {
  content: "\e613";
}

.icon-account:before {
  content: "\e6a0";
}

.icon-shop:before {
  content: "\e736";
}

.icon-home:before {
  content: "\e8b9";
}

.icon-total:before {
  content: "\e902";
}

.icon-order:before {
  content: "\e897";
}

.icon-eye-open:before {
  content: "\e62f";
}

.icon-user:before {
  content: "\e8c8";
}

.icon-lock:before {
  content: "\e8d4";
}

.icon-eye-close:before {
  content: "\e901";
}

